
Client/Library/AnnotationManager
Client/Library/assetDatabase3
Client/Library/AssetImportState
/Client/Library
/Client/Temp
Client/Client.CSharp.csproj
*.csproj
*.sln
Client/Client.v12.suo
Client/.vs/Client/v15/.suo
Client/.vs/Client/v15/sqlite3/storage.ide